/* Background Image */
body {
    padding-top: 0px !important;
}

.bg-image {
    /* Full height */
    height: 60vh;
    position: relative;
    text-align: center;
}

.img1 { background-image: url("../media/Background.png"); }

/* Navigation edit */
li.nav-item a.nav-link {
    color: white;
}

.underline-animated {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.underline-animated:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline-animated:hover:after {
	width: 100%;
	background: rgb(255, 255, 255);
}

/* Page headers */
h1.h2 {
    font-size: 7vw;
    font-weight: 200;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}