/* Background Image */
body {
    padding-top: 0px !important;
}

.bg-image {
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: -25% 45%;; 
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 { background-image: url("../media/soccer_background.png"); }

/* Home page description */
.aboutMe {
  height: 25%;
}

.aboutMe .desc {
  width: 60%;
  float: left;
  padding: 45px 45px;
  margin: 0px;
  font-size: 1.2vw;
}

.aboutMe .desc p {
  margin-bottom: 0px;
}

.aboutMe .moreBTN {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  padding: 45px 0px;
  margin: auto;
  float: right;
}

.btn {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  border-radius: 75px;
  text-align: center;
  font-size: 2vw;
  line-height: 1.33;
}

/* Recent work */
.carousel h2 {
  padding: 20px 45px 0px 45px;
  font-weight: lighter;
  font-style: italic;
}

.carousel hr {
  width: 25%;
  margin-left: 45px;
}

.carousel-inner .carousel-item img {
  object-fit: contain;
  padding: 20px 0px 150px 0px;
}

.carousel-caption hr {
  width: 20%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
}